*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
}
body{
    background-color: rgb(237,243,251);
}

#app{
    display: flex;
    width: auto;
    justify-content: center;
    margin: 0 auto;
}
.main{

    
    height: calc(100vh - 4rem);
    background-color: white;
    padding: 2rem;
    display: flex;
}


.main .mainHeader{
    width: 200px;
    /*aqui altera o tamanho do box*/
   
    
}

.main .mainHeader h1, h2{
    color: rgb(101,21,221);
}

.main .mainHeader h2{
    text-align: right;
    font-size: 12px;
    margin-right: 90px;
}


.main ul{
    margin-top: 3rem;
}

.main ul li{
    padding: 0.5rem;
}


/*centro*/

.view{
    padding: 2rem;
    width: auto;
    background-color: none;
}

.btn{
    background-color: rgb(101,21,221);
    padding: 1rem;
    border-radius: 0.9rem;
    color: white;
    display: inline-block;


}

.btn_i{
    color: rgb(101,21,221);
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 2em;
    padding-right: 2rem;
    border-radius: 5rem;
    border: 2px solid rgb(101,21,221);
}

.boxData{
    margin-top: 4rem;
    background-color: white;
    display: flex;
    width: calc(100% - 2rem);
    justify-content: center;
    padding: 1rem;
}

.label{
    display: flex;
    width: calc(100% - 2rem);
    background-color: none;
    padding: 1rem;
    font-weight: bold;
    justify-content: space-around;
}

table{
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
  


}

table td, table th{
    background-color: white;
    width: 100%;
    /*border: 1px solid rgb(101,21,221);*/
    padding: 0.5rem;
}
table tr{
    border: 3px solid rgb(237,243,251);
}
table tr:nth-of-type(1){
    border: 0 !important;
}

table th{
    background-color: rgb(101,21,221);
    color: white;
}




/*Lado Direito*/
.ld{
    min-width: 200px;
    height: calc(100vh - 10rem);
    background-color: none;
    padding: 2rem;
    padding-top: 8rem;
}



.boxResumo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.9rem;
    margin-top: 1rem;

}

.boxResumo p:nth-of-type(1){
    font-size: 12px;
    color:gray;
}

.boxResumo p:nth-of-type(2){
    font-size: 20px;
}

img{
    height:  15px;
    margin-left: 1rem;
    background-color: green;
    padding: 1rem;
    border-radius: 50% 50%;
}
